.footer {
  height: 100px;
  width: 100%;
  background-color: var(--accentcolor);
}

.footer__content {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__content__logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
}
.footer__content__logo img {
  height: 70%;
}
.footer__content svg {
  fill: #f2f2f2;
  font-size: 40px;
  border-radius: 50%;
  transition: 0.25s;
}
.footer__content svg:hover {
  background-color: var(--accenttextcolor);
}
