main {
	max-width: 1280px;
	margin: 0 auto;
}

.postList {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	gap: 16px;
}

.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
}

@media (max-width: 1280px) {
	.postList {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 950px) {
	.postList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 670px) {
	.postList {
		grid-template-columns: repeat(1, 1fr);
	}
}