@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  --maincolor: rgb(37 41 74);
  --accentcolor: rgb(32 36 66);
  --accenttextcolor: #008080;
  --textcolor: rgb(113 128 150);
  --textcolor2: #b4b9c2;
  --backcolor: rgb(45 50 90);
  --errorcolor: rgba(255, 50, 50, 1);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--maincolor);
}
